body {
    margin: 0;
    background: #EEEEEF url('../img/paper_fibers.png');
    overflow-y: hidden;
    font-family: 'Rum Raisin', sans-serif;
}

img {
    float: left;
}

.container {
    overflow: hidden;
    position: relative;
}

#content {
    display: none;
    position: absolute;
    width: 150%;
    overflow: hidden;
}

.opt {
    opacity: 0;
    height: 64px;
    width: 64px;
    background: #C00000 url('../img/list.png') center no-repeat;
    position: absolute;
    top: 20px;
    right: 30px;
    padding: 5px;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(192, 0, 0, .6);
    cursor: pointer;
}

.opt:hover {
    opacity: .8 !important;
}

.panel {
    color: #FFFFFF;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    display: none;
    background: #C00000 url('../img/pattern-4mb8.png');
    border-left: solid 3px #FFF;
    box-shadow: 0 0 20px rgba(255, 255, 255, .8);
    padding: 10px;
}

.panel h2 {
    text-align: center;
}

.panel input {
    width: 290px;
    height: 30px;
    border: none;
    margin-top: 5px;
    padding-left: 10px;
    font-family: 'Rum Raisin', sans-serif;
    font-size: 14px;
    color: #2B2B2B;
}

.btn {
    cursor: pointer;
    height: 50px;
    width: 140px;
    margin: 5px;
    color: #FFFFFF;
    border: none;
}

.grp-btn {
    text-align: center;
    position: absolute;
    bottom: 30px;
    width: 305px;
}

.btn-ok {
    background-color: #1D731D;
}

.btn-ok:hover {
    background-color: #009A00;
}

.btn-ok:active {
    background-color: #1D731D;
}

.btn-cancel {
    background-color: #C05700;
}

.btn-cancel:hover {
    background-color: #E08438;
}

.btn-cancel:active {
    background-color: #C05700;
}